*{
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
  position:relative;
  z-index:900;
  top: 0px;
}
.wrapper > * {
  position:relative;
  z-index:900;
  grid-column: 2;
}
.full-bleed {
  position:relative;
  z-index:900;
  width: 100%;
  grid-column: 1 / 4;
}

.transparent-black-box{
  margin-top:30em;
  margin-left:2em;
  height:5em;
  width:15em;
  font-size:1em;
  font-style:italic;
  opacity:0.4;
  color:white;
  background-color:rgb(113, 113, 113);
}

.background-div{
  background-size: cover;
  background-attachment: fixed;
  top: 0px;
  width: 100%;
  z-index:1;
}

nav{
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  z-index:1000;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: rgb(51, 51, 51);
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: rgb(45, 45, 45);
  background-color: rgb(236, 236, 236);
  opacity:0.8;
  /*border-bottom: 2px solid gold;*/
}

.roll{
  color: #252525;
}

.roll:hover{
  color: #303030;
  background-color: #e7e6e6;
  opacity:0.98;
}

.under{
  display:none;
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: #d9d9d9;
  color: #252525;
}
nav > ul li:hover .under{
  display: block;
}
.under li{
  float: none;
  width: 100%;
  text-align: left;
  color: #242424;
}
.under a{
  padding: 10px;
  border-bottom: none;
}
.under a:hover{
  color: #252525;
  border-bottom: none;
}

.headroom {
  z-index: 1000;
}

.headroom--not-top {
  color: #151515;
  background-color: white;
    opacity: 0.98;
}

.headroom--top {
  color: #151515;
  background-color: white;
    opacity: 0.90;
}